/* #region GLOBAL RULES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --col-width: calc(100%/12 *4);
    --bool-nav: #ff6900;
    --bool-light: #ffffff;
    --bool-dark: #000000;
    --bool-red: #ff0000;
    --bool-footer: #1a1a1a;
}

body {
    font-family: helvetica, sans-serif;
    min-width: 700px;
}

.container {
    width: 80%;
    margin: auto;
}

.store_container {
    width: 80%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;

}

/* #endregion GLOBAL RULES */

/* #region DEBUG */

.debug,
.debug nav,
.debug .user_menu,
.debug .categories,
.debug .logo,
.debug a,
.debug span,
.debug [class^="product"] {
    border: 1px solid red;
}

/* #endregion DEBUG */

/* #region NAVBAR */

header {
    background-color: var(--bool-nav);
    box-shadow: 0px 1px 3px;
    position: sticky;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.categories {
    width: 20%;
}

.user_menu {
    width: 20%;
    text-align: end;
}



.categories a {
    margin: 0 0.25rem;
    font-weight: bold;
    color: var(--bool-light);
}

.logo {
    height: 2rem;
}

.user_menu p {
    display: inline-block;
    margin: 0 0.1rem;
    color: var(--bool-light);
}

/* #endregion NAVBAR */

/* #region STORE MAIN SECTION */

.product_card {
    /* width: var(--col-width) -1rem */
    width: 32.3%;
    padding-top: 3rem;
}

.product_front {
    width: 100%;
    display: block;
}

.product_desc a {
    display: block;
    color: var(--bool-dark);
    text-decoration: none;
}

.product_desc a:hover {
    text-decoration: underline;
}

.brand,
.discount,
.price {
    font-size: 0.9rem;
}

.product_name {
    font-weight: bold;
}

.discount {
    background-color: var(--bool-red);

}

.price {
    margin-left: 0.3rem;
    text-decoration: line-through;
}



/* #endregion STORE MAIN SECTION */

/* #region FOOTER */

footer {
    padding-top: 3rem;
    background-color: var(--bool-footer);
}

/* #endregion FOOTER */